<!DOCTYPE html>
<!-- Written By Ettore Caccioli, 17/04/2026 © Wheelchair Karting -->
<html>
    <link rel="stylesheet" href="{{url_for('static', filename='newstyle.css')}}">
    <head>
        <title>DeltaKart's Camera Viewer</title>
        <link rel="icon" href="{{url_for('static', filename='favicon.jpg')}}" type="image/x-icon" class="favicon">
    </head>
    <a href="{{url_for('new_look')}}">
        <img src="{{url_for('static', filename='logo.jpg')}}" class="page_logo">
    </a>
    <body>
        <!-- <img src="{{url_for('static', filename='camera/img.png')}}" width="1280" height="720" class="camera_view"> -->
        <img src="{{ url_for('video_feed') }}" width="1280" height="720">
        <div class="container">
            <button class="set_cent_btn"> SetCnt </button>
            <button class="auto_ex_btn"> AutoEx </button> 
        </div>
    </body>
    <footer>
        © 2026 Wheelchair Karting
    </footer>
</html>
